USE [master]
GO
/****** Объект:  Database [MusicServiceDB]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
CREATE DATABASE [MusicServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MusicServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MusicServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicServiceDB]
GO
/****** Объект:  Table [dbo].[Albums]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [uniqueidentifier] NOT NULL,
	[ArtistId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ReleaseDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Artists]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Playlists]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PlaylistTracks]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistTracks](
	[PlaylistId] [uniqueidentifier] NOT NULL,
	[TrackId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC,
	[TrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Tracks]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tracks](
	[Id] [uniqueidentifier] NOT NULL,
	[AlbumId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Duration] [decimal](5, 2) NULL,
	[IsExplicit] [bit] NOT NULL,
	[Genre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NULL,
	[IsPremium] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [ReleaseDate]) VALUES (N'0612cf41-65f5-4ef3-8560-04013d12c7e1', N'b5451d9d-7742-4bcc-b302-8d9d6c70f72f', N'OLD BLOOD', CAST(N'2020-05-15' AS Date))
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [ReleaseDate]) VALUES (N'4ed03b4f-fa82-4212-93a5-294c614b911d', N'2a2cbb2a-9cb6-4081-9987-90234301f2ad', N'Круг Ветров', CAST(N'2019-11-15' AS Date))
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [ReleaseDate]) VALUES (N'8e759b69-f7d3-4b3f-aadc-461084272a2e', N'd80c208f-4e81-473c-8f08-0338107dabfb', N'WILD EAST', CAST(N'2022-04-22' AS Date))
GO
INSERT [dbo].[Artists] ([Id], [Name], [Country], [CreatedAt]) VALUES (N'd80c208f-4e81-473c-8f08-0338107dabfb', N'SALUKI', N'Россия', CAST(N'2016-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Artists] ([Id], [Name], [Country], [CreatedAt]) VALUES (N'9621ea7a-783a-4fe8-8b00-7cc409401829', N'MAYOT', N'Россия', CAST(N'2018-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Artists] ([Id], [Name], [Country], [CreatedAt]) VALUES (N'b5451d9d-7742-4bcc-b302-8d9d6c70f72f', N'Boulevard Depo', N'Россия', CAST(N'2013-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Playlists] ([Id], [UserId], [Name], [CreatedAt]) VALUES (N'e79b0968-74c6-4b79-8377-2286d03aca95', N'709131f9-1058-4f36-991a-3a4382aea61e', N'В машину', CAST(N'2026-06-19T19:28:12.493' AS DateTime))
INSERT [dbo].[Playlists] ([Id], [UserId], [Name], [CreatedAt]) VALUES (N'68a3bf89-c461-41d3-91e8-6f79b0b5615b', N'00e9a049-c84b-4a57-821b-e0ef59c26dde', N'Любимое', CAST(N'2026-06-19T19:28:12.493' AS DateTime))
INSERT [dbo].[Playlists] ([Id], [UserId], [Name], [CreatedAt]) VALUES (N'e24010de-f534-4561-af19-d0603c8c654b', N'e1c8894e-0fd0-4b2e-889d-2578d40461e4', N'Чилл', CAST(N'2026-06-19T19:28:12.497' AS DateTime))
GO
INSERT [dbo].[Tracks] ([Id], [AlbumId], [Title], [Duration], [IsExplicit], [Genre]) VALUES (N'87397774-66b8-40d9-b0f9-4ec2e5dd98b4', N'bf6dbfd9-a1d4-4800-8baa-48df5062caf2', N'Дико, например', CAST(3.12 AS Decimal(5, 2)), 1, N'Hip-Hop')
INSERT [dbo].[Tracks] ([Id], [AlbumId], [Title], [Duration], [IsExplicit], [Genre]) VALUES (N'c74c013f-d134-46b7-9092-558fd5d48048', N'4559ec39-8767-4f1f-967d-c95960bd15f6', N'Море', CAST(2.56 AS Decimal(5, 2)), 1, N'Hip-Hop')
INSERT [dbo].[Tracks] ([Id], [AlbumId], [Title], [Duration], [IsExplicit], [Genre]) VALUES (N'22377ebd-f1d0-4aaf-aa61-8f50f6589e6a', N'4ed03b4f-fa82-4212-93a5-294c614b911d', N'Круг Ветров', CAST(4.21 AS Decimal(5, 2)), 0, N'Hip-Hop')
GO
INSERT [dbo].[Users] ([Id], [Username], [Email], [BirthDate], [IsPremium]) VALUES (N'e1c8894e-0fd0-4b2e-889d-2578d40461e4', N'semyon', N'semyon@mail.ru', CAST(N'2004-11-01' AS Date), 1)
INSERT [dbo].[Users] ([Id], [Username], [Email], [BirthDate], [IsPremium]) VALUES (N'709131f9-1058-4f36-991a-3a4382aea61e', N'danik', N'danik@mail.ru', CAST(N'2003-08-12' AS Date), 0)
INSERT [dbo].[Users] ([Id], [Username], [Email], [BirthDate], [IsPremium]) VALUES (N'00e9a049-c84b-4a57-821b-e0ef59c26dde', N'alisa', N'alisa@mail.ru', CAST(N'2005-03-17' AS Date), 1)
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Users_Email]    Дата создания скрипта: 19.06.2026 19:44:12 ******/ 
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Albums] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Artists] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Playlists] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Tracks] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([Id])
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PlaylistTracks]  WITH CHECK ADD FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([Id])
GO
ALTER TABLE [dbo].[PlaylistTracks]  WITH CHECK ADD FOREIGN KEY([TrackId])
REFERENCES [dbo].[Tracks] ([Id])
GO
ALTER TABLE [dbo].[Tracks]  WITH CHECK ADD FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([Id])
GO
USE [master]
GO
